---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Programming Projects</p>
                </div>
                {% include project-card.html label="Programming" %}
                <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Science Communication Project</p>
                </div>
                {% include project-card.html label="Sci-comm" %}
                <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Archive</p>
                    <p class="is-size-7 has-text-grey">Old projects, no longer maintained</p>
                </div>
                {% include project-card.html label="Archive" muted=true %}
            </div>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>
